---
layout: "layout.njk"
pagination:
  data: collections.tires
  size: 1
  alias: tire
permalink: "tires/{{ tire.data.sku | slug }}/"
---
<section class="govuk-!-margin-top-0 govuk-!-padding-top-5 govuk-!-padding-bottom-7">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l" >{{ tire.data.title }}</h2>
        <h3>{{ tire.data.size }}</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <img style="height:100%;width:100%;" src="{{ tire.data.images[0]}}" alt="{{ tire.data.title }}"/>
      </div>
      {# <article>
        <h1>{{ tire.data.brand }}
          {{ tire.data.model }}</h1>
        <p class="meta">{{ tire.data.size }} • {{ tire.data.category }} • ${{ tire.data.price }}</p>

        {% if tire.data.images %}
          <img src="{{ tire.data.images[0].src }}" alt="{{ tire.data.title }}"/>
        {% endif %}

        <ul>
          <li>SKU: {{ tire.data.sku }}</li>
          <li>Load Index: {{ tire.data.loadIndex or "-" }}</li>
          <li>Speed Rating: {{ tire.data.speedRating or "-" }}</li>

        </ul>

        {{ tire.templateContent | safe }}
      </article> #}
    </div>
  </div>
</section>