---
layout: "layout.njk"
pagination:
  data: collections.tires
  size: 1
  alias: tire
permalink: "tires/{{ tire.data.sku | slugify }}/"
---
<section class="govuk-!-margin-top-0 govuk-!-padding-top-7 govuk-!-padding-bottom-7">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl" >{{ tire.data.title }}</h2>
        <h2 class="govuk-heading-l">${{ tire.data.price }}</h2>
        <h3>Size: {{ tire.data.size }}</h3>
        <h3>Tread: {{tire.data.tread}}</h3>
        <h3>Quantity: {{tire.data.quantity}}</h3>

        <a href="{{site.phone}}" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          {{site.phone_title}}
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
          </svg>
        </a>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <img style="height:100%;width:100%;" src="{{ tire.data.images[0]}}" alt="{{ tire.data.title }}"/>
    </div>
    {# {% include "partials/contact.njk" %} #}
    {# <article>
        <h1>{{ tire.data.brand }}
          {{ tire.data.model }}</h1>
        <p class="meta">{{ tire.data.size }} • {{ tire.data.category }} • ${{ tire.data.price }}</p>

        {% if tire.data.images %}
          <img src="{{ tire.data.images[0].src }}" alt="{{ tire.data.title }}"/>
        {% endif %}

        <ul>
          <li>SKU: {{ tire.data.sku }}</li>
          <li>Load Index: {{ tire.data.loadIndex or "-" }}</li>
          <li>Speed Rating: {{ tire.data.speedRating or "-" }}</li>

        </ul>

        {{ tire.templateContent | safe }}
      </article> #}
  </div>
</div>
</section>