---
layout: "layout.njk"
title: "Tires"
---
<h1 class="govuk-heading-l">Tires</h1>

<div class="cards">
  {% for t in collections.tires %}
    <article class="card">
      <a href="{{ t.data.sku | slugify }}">
        <img src="{{ t.data.images[0] }}" alt="{{ t.data.title }}">
      </a>

      <h3>
        <a href="{{ t.data.sku | slugify }}">{{ t.data.brand }}
          {{ t.data.brand }}</a>
      </h3>

      <p>{{ t.data.size }} — ${{ t.data.price }}</p>
      {% if t.data.inStock %}
        <span class="badge">In stock</span>
      {% else %}
        <span class="badge out">Out of stock</span>{% endif %}
    </article>
  {% endfor %}
</div>