---
permalink: /feeds/facebook.csv
layout: false
eleventyExcludeFromCollections: true
---
{%- set base = "https://yoyotires.netlify.app" -%}
id,title,description,availability,condition,price,link,image_link,brand,mpn,item_group_id
{% for t in collections.tires -%}
  {%- set sku = (t.data.sku or t.fileSlug) | slugify -%}
  {%- set title = t.data.title or (t.data.brand ~ " " ~ (t.data.model or "")) -%}
  {%- set desc = (t.templateContent or "") | striptags -%}
  {%- if t.data.inStock -%}{% set avail = "in stock" %}
  {%- else -%}{% set avail = "out of stock" %}
  {%- endif -%}
  {%- set cond = "used" -%}
  {%- set price = ((t.data.price or 0) ~ " CAD") -%}
  {%- set link = ("/tires/" ~ sku ~ "/") | abs(base) -%}
  {%- set rawImg = "/static/img/no-image.png" -%}
  {%- if t.data.images and t.data.images[0] -%}
    {%- if t.data.images[0].src -%}{% set rawImg = t
        .data
        .images[0]
        .src %}
    {%- else -%}{% set rawImg = t
        .data
        .images[0] %}
    {%- endif -%}
  {%- endif -%}
  {%- set image = rawImg | abs(base) -%}
  {%- set brand = t.data.brand or "" -%}
  {%- set mpn = sku -%}
  {%- set group = (t.data.brand or "") ~ "-" ~ (t.data.model or "") | slugify -%}

  {{ sku|csv }},{{ title|csv }},{{ desc|csv }},{{ avail|csv }},{{ cond|csv }},{{ price|csv }},{{ link|csv }},{{ image|csv }},{{ brand|csv }},{{ mpn|csv }},{{ group|csv }}
{% endfor %}