---
layout: layout.njk
title: yoyo-tires
description: 
button_title: Call (403) 606-5084
button_link: "tel:4036065084"
image_url : 
hero:
  imageUrl: "/assets/images/truck.jpeg"
  title: "Derek Brown’s Academy of Driving"
  description: "As a leading provider of driving education in Calgary for over 50 years, we are thrilled to expand our services to Lethbridge, AB."
  ctaText: "Explore who we are"
  ctaUrl: "/company/"
split:
  title: "We buy used tires"
  description: "Looking to get rid of your old tires?"
  ctaText: "Contact Us"
  ctaUrl: "/contact"
  image: "db.png"
---

{% include "by-vehicle.njk" %}
{% set collectionHeader = "New Arrivals" %}
{% set collectionName = "tires" %}
{% include "components/cards.njk" %}

{# {% set bgColor = "section-grey" %}
{% set collectionHeader = "Truck Courses" %}
{% set collectionName = "trucks" %}
{% include "components/cards.njk" %} #}

{# {% include "components/split-panel.njk" %} #}