---
layout: layout.njk
title: Derek Brown’s Academy Of Driving
description: As a leading provider of driving education in Calgary for over 50 years, we are thrilled to expand our services to Lethbridge, AB. 
button_title: Call (403) 606-5084
button_link: "tel:4036065084"
image_url : "/assets/images/db.png" 
hero:
  imageUrl: "/assets/images/truck.jpeg"
  title: "Derek Brown’s Academy of Driving"
  description: "As a leading provider of driving education in Calgary for over 50 years, we are thrilled to expand our services to Lethbridge, AB."
  ctaText: "Explore who we are"
  ctaUrl: "/company/"
split:
  title: "Our Online Driving School"
  description: "Our online courses are fully certified and designed to be interactive, engaging, and easy to follow, so you can learn at your own pace and on your own schedule."
  ctaText: "Register Today"
  ctaUrl: "https://www.bestcalgarydrivingschool.com/onlinecourse/"
  image: "db.png"
---

{% set collectionHeader = "New Arrivals" %}
{% set collectionName = "tires" %}
{% include "components/cards.njk" %}

{# {% set bgColor = "section-grey" %}
{% set collectionHeader = "Truck Courses" %}
{% set collectionName = "trucks" %}
{% include "components/cards.njk" %} #}

{# {% include "components/split-panel.njk" %} #}