---
layout: layout.njk
title: yoyo-tires
split:
  title: "We buy used tires"
  description: "Looking to get rid of your old tires?"
  ctaText: "Contact Us"
  ctaUrl: "/contact"
  image: "db.png"
---

<section style="background:black" class="{{color}} govuk-!-margin-top-0 govuk-!-padding-top-5 govuk-!-padding-bottom-0">
  {% include "by-vehicle.njk" %}

</section>
<section class="{{color}} govuk-!-margin-top-0 govuk-!-padding-top-5 govuk-!-padding-bottom-0">

  <div class="govuk-width-container">

    <div class="govuk-grid-row govuk-!-padding-bottom-3"">
      <div class="govuk-grid-column-one-third">
        <label class="govuk-label">Sort by</label>
        <select id="sortPrice" class="govuk-select">
          <option value="">Default</option>
          <option value="asc">Price: Low to High</option>
          <option value="desc">Price: High to Low</option>
        </select>

      </div>
    </div>
  </div>
  <div class="govuk-width-container">
    <div id="tire-results" class="govuk-!-margin-top-0"></div>
  </div>
</section>
{# {% set collectionHeader = "New Arrivals" %} #}
{# {% set collectionName = "tires" %} #}

{# {% include "components/cards.njk" %} #}

{# {% set bgColor = "section-grey" %}
{% set collectionHeader = "Truck Courses" %}
{% set collectionName = "trucks" %}
{% include "components/cards.njk" %} #}

{# {% include "components/split-panel.njk" %} #}