<div style="background:#f3f2f1;height:100%;padding:15px 0;margin-bottom:50px" >

  <div class="govuk-width-container">
    <h2 style="margin-bottom:0;" class="govuk-heading-m">Now Offering Class 2 “S” Endorsement Program Enroll Today!</div>
  </h2>
</div>